.cards{
display:flex;
gap:20px;
flex-wrap:wrap;
margin-bottom:30px;
}

.card{
flex:1;
min-width:220px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

@media(max-width:768px){

.card{
width:100%;
min-width:100%;
}

}